<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="tests" name="C:/Users/dell/IdeaProjects/Data_Driven">
    <classes>
        <class name="DataDrivenTesting.DataDrivenTest">
            <methods>
                <include name="loginTesting1"/>
                <include name="loginTesting2"/></methods></class>
        <class name="ParallelTest.Test1" >
            <methods>
                <include name="test1"/>
                <include name="test2"/>
             </methods>
        </class>
    </classes>
</test>
</suite>